<script>
    function acceptFriendRequest(friend_request_id, uiupdatFunction){
        var url = "{% url 'friend:friend-request-accept' friend_request_id=68516819898124189 %}".replace("68516819898124189", friend_request_id)
        $.ajax({
            type: "GET",
            dataType: "json",
            url : url,
            timeout: 5000,
            success:function(data){

            },
            error: function(data){
                
            },
            complete:function(data){
                uiupdatFunction()
            }
        })
    }
</script>